langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.9
faiss-cpu==1.7.4
sentence-transformers==2.7.0
transformers==4.40.0
torch==2.2.2
pandas==2.2.2
numpy==1.26.4
tqdm==4.66.4
gradio==4.44.0
python-dotenv
huggingface-hub==0.23.0